<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta property="og:title" content="Print Your Free Visual Birth Plan" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.VisualBirthPlan.org/img/facebook.png" />
  <meta property="og:url" content="http://www.visualbirthplan.org/" />
  <meta property="og:site_name" content="Visual Birth Plan.org" />
  <meta property="og:description" content="Create your own visual birth plan quickly and easily with a few clicks, print and done!" />
  <meta name="google-site-verification" content="uX3o1BgM970Gqml71fmLOB6M23kHD95-wuWUzMAgFHA" />
  <link rel="stylesheet" type="text/css" href="style.css"/>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
  <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>  <script src="script.js"></script>
  <meta charset="utf-8">
  <title>Print your free Visual Birth Plan at VisualBirthPlan.org</title>
</head>
<body  ng-app="VisualBirthPlan" ng-controller="choiceController">

<div class="settings no-print">
  <h2>Personalize your Visual Birth Plan</h2>
  <h3>(this box will not show when printing)</h3>
  <p>
    Your Name: <br><input ng-model="name" placeholder="Enter Your Name"><br>
    Your Provider: <br><input ng-model="provider" placeholder="Enter Provider Name"><br>
    Plan Introduction: (you can use html)
    <textarea id='intro' ng-model="intro" placeholder="Enter report description">
    {{ intro }}
    </textarea>
    <!--
    <input type="checkbox" ng-model="hide_meh">Hide Don't Care boxes<br>
    <input type="checkbox" ng-model="hide_na">Hide N/A boxes<br>
    -->
    <br>

  </p>
  <p>Before printing, click on each of the boxes below to change them between <b>Yes</b>, <b>No</b>, <b>N/A</b> and <b>Don't Care</b>.  You can also drag the boxes to rearrange them (there's a bug that changes the color when you drag them, but just re-click them to what you want it to be).  Then print your visual birth plan. Print in color in Landscape orientation for the best layout.</p>
  <br clear="all">
  <input type="button" value="Print Now - - - This box will not show when printing" onclick="window.print();"> &nbsp;
  <p class="webmaster"><a href="mailto:brian@diamondsea.com?subject=VisualBirthPlan.org">Contact Webmaster</a></p>


</div>



  <h1 ng-hide="!name">{{ name }}'s Visual Birth Plan</h1>

  <h2 ng-hide="!provider">for {{ provider }}</h2>

  <p>{{ intro }}</p>

  <ul ui-sortable ng-model="choices" class="choices">
    <li ng-repeat="x in choices">
      <div class="box {{x.state}}" ng-click="rotateStates($index, x.state)" >
        <img class="background" src="img/{{x.state}}75.png" alt="{{x.state}}">
        <div class="symbol" ng-hide="true">
          <p class="key">{{x.code}}</p>
        </div>
        <div class="description">
          <p class="title">{{x.title}}</p>
          <p class="subtitle">{{x.subtitle}}</p>
          <p class="desc">{{x.desc}}</p>
        </div>
        {{x.subtitle}}
      </div>
    </li>
  </ul>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-35911993-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
